<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>leftLabel</key>
		<string>[ 顶 置 ]</string>
		<key>middleLabel</key>
		<string>2015最新女装，国际化是阿里接下来三年的发展战略，国际化今年仅仅是试点；农村战略和无线战略是阿里巴巴接下来的核心...</string>
		<key>arrowImg</key>
		<string>arrow</string>
	</dict>
	<dict>
		<key>leftLabel</key>
		<string>[ 最 新 ]</string>
		<key>middleLabel</key>
		<string>韩式女装，就目前公布的这18个数据来说</string>
		<key>arrowImg</key>
		<string>arrow</string>
	</dict>
	<dict>
		<key>leftLabel</key>
		<string>[ 最 热 ]</string>
		<key>middleLabel</key>
		<string>精品女装白色连衣裙和韩版连衣裙，它们之间的展现量也是不同的，谁的展现量高</string>
		<key>arrowImg</key>
		<string>arrow</string>
	</dict>
</array>
</plist>
