<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>doctorIcon</key>
		<string>doctoravatar_11</string>
		<key>doctorName</key>
		<string>新月</string>
		<key>doctorLev</key>
		<string>专家</string>
		<key>doctorComment</key>
		<string>100</string>
	</dict>
	<dict>
		<key>doctorIcon</key>
		<string>doctoravatar_12</string>
		<key>doctorName</key>
		<string>方清红</string>
		<key>doctorLev</key>
		<string>院长</string>
		<key>doctorComment</key>
		<string>99</string>
	</dict>
	<dict>
		<key>doctorIcon</key>
		<string>doctoravatar_13</string>
		<key>doctorName</key>
		<string>伦杰辉</string>
		<key>doctorLev</key>
		<string>专家</string>
		<key>doctorComment</key>
		<string>97</string>
	</dict>
	<dict>
		<key>doctorIcon</key>
		<string>doctoravatar_14</string>
		<key>doctorName</key>
		<string>罗杰</string>
		<key>doctorLev</key>
		<string>科长</string>
		<key>doctorComment</key>
		<string>98</string>
	</dict>
	<dict>
		<key>doctorIcon</key>
		<string>doctoravatar_15</string>
		<key>doctorName</key>
		<string>郭明杰</string>
		<key>doctorLev</key>
		<string>专家</string>
		<key>doctorComment</key>
		<string>98</string>
	</dict>
	<dict>
		<key>doctorIcon</key>
		<string>doctoravatar_16</string>
		<key>doctorName</key>
		<string>蔡福康</string>
		<key>doctorLev</key>
		<string>专家</string>
		<key>doctorComment</key>
		<string>96</string>
	</dict>
	<dict>
		<key>doctorIcon</key>
		<string>doctoravatar_17</string>
		<key>doctorName</key>
		<string>蔡福康</string>
		<key>doctorLev</key>
		<string>专家</string>
		<key>doctorComment</key>
		<string>96</string>
	</dict>
	<dict>
		<key>doctorIcon</key>
		<string>doctoravatar_18</string>
		<key>doctorName</key>
		<string>孔文豪</string>
		<key>doctorLev</key>
		<string>专家</string>
		<key>doctorComment</key>
		<string>100</string>
	</dict>
	<dict>
		<key>doctorIcon</key>
		<string>doctoravatar_19</string>
		<key>doctorName</key>
		<string>唐强</string>
		<key>doctorLev</key>
		<string>专家</string>
		<key>doctorComment</key>
		<string>97</string>
	</dict>
</array>
</plist>
